<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learn.quickweb.mvc.mapper.PermissionMapper">

    <resultMap type="learn.quickweb.mvc.domain.Permission" id="PermissionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="permissionId" column="permission_id" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="PermissionMap">
        select id,
               permission_id,
               description,
               create_time,
               update_time,
               deleted
        from permission
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAll" resultMap="PermissionMap">
        select
        id, permission_id, description, create_time, update_time, deleted from permission
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="permissionId != null and permissionId != ''">
                and permission_id = #{permissionId}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
        <if test="orderByMe != null and orderByMe != '' and orderByMeSort != null and orderByMeSort != ''">
            order by
            <choose>
                <when test="orderByMe == 'id' and orderByMeSort == 'ASC'">
                    id
                </when>
                <when test="orderByMe == 'permissionId' and orderByMeSort == 'ASC'">
                    permission_id
                </when>
                <when test="orderByMe == 'description' and orderByMeSort == 'ASC'">
                    description
                </when>
                <when test="orderByMe == 'createTime' and orderByMeSort == 'ASC'">
                    create_time
                </when>
                <when test="orderByMe == 'updateTime' and orderByMeSort == 'ASC'">
                    update_time
                </when>
                <when test="orderByMe == 'deleted' and orderByMeSort == 'ASC'">
                    deleted
                </when>
                <when test="orderByMe == 'id' and orderByMeSort == 'DESC'">
                    id desc
                </when>
                <when test="orderByMe == 'permissionId' and orderByMeSort == 'DESC'">
                    permission_id desc
                </when>
                <when test="orderByMe == 'description' and orderByMeSort == 'DESC'">
                    description desc
                </when>
                <when test="orderByMe == 'createTime' and orderByMeSort == 'DESC'">
                    create_time desc
                </when>
                <when test="orderByMe == 'updateTime' and orderByMeSort == 'DESC'">
                    update_time desc
                </when>
                <when test="orderByMe == 'deleted' and orderByMeSort == 'DESC'">
                    deleted desc
                </when>
                <otherwise>
                    1
                </otherwise>
            </choose>
        </if>
    </select>

    <!--模糊查询指定行数据-->
    <select id="queryAllLike" resultMap="PermissionMap">
        select
        id, permission_id, description, create_time, update_time, deleted from permission
        <where>
            <if test="id != null">
                and id like concat('%',#{id},'%')
            </if>
            <if test="permissionId != null and permissionId != ''">
                and permission_id like concat('%',#{permissionId},'%')
            </if>
            <if test="description != null and description != ''">
                and description like concat('%',#{description},'%')
            </if>
            <if test="createTime != null">
                and create_time like concat('%',#{createTime},'%')
            </if>
            <if test="updateTime != null">
                and update_time like concat('%',#{updateTime},'%')
            </if>
            <if test="deleted != null">
                and deleted like concat('%',#{deleted},'%')
            </if>
        </where>
        <if test="orderByMe != null and orderByMe != '' and orderByMeSort != null and orderByMeSort != ''">
            order by
            <choose>
                <when test="orderByMe == 'id' and orderByMeSort == 'ASC'">
                    id
                </when>
                <when test="orderByMe == 'permissionId' and orderByMeSort == 'ASC'">
                    permission_id
                </when>
                <when test="orderByMe == 'description' and orderByMeSort == 'ASC'">
                    description
                </when>
                <when test="orderByMe == 'createTime' and orderByMeSort == 'ASC'">
                    create_time
                </when>
                <when test="orderByMe == 'updateTime' and orderByMeSort == 'ASC'">
                    update_time
                </when>
                <when test="orderByMe == 'deleted' and orderByMeSort == 'ASC'">
                    deleted
                </when>
                <when test="orderByMe == 'id' and orderByMeSort == 'DESC'">
                    id desc
                </when>
                <when test="orderByMe == 'permissionId' and orderByMeSort == 'DESC'">
                    permission_id desc
                </when>
                <when test="orderByMe == 'description' and orderByMeSort == 'DESC'">
                    description desc
                </when>
                <when test="orderByMe == 'createTime' and orderByMeSort == 'DESC'">
                    create_time desc
                </when>
                <when test="orderByMe == 'updateTime' and orderByMeSort == 'DESC'">
                    update_time desc
                </when>
                <when test="orderByMe == 'deleted' and orderByMeSort == 'DESC'">
                    deleted desc
                </when>
                <otherwise>
                    1
                </otherwise>
            </choose>
        </if>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(*)
        from permission
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="permissionId != null and permissionId != ''">
                and permission_id = #{permissionId}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into permission(permission_id, description, create_time, update_time, deleted)
        values (#{permissionId}, #{description}, #{createTime}, #{updateTime}, #{deleted})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into permission
        (permission_id, description, create_time, update_time, deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.permissionId}, #{entity.description}, #{entity.createTime}, #{entity.updateTime},
            #{entity.deleted})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into permission
        (permission_id, description, create_time, update_time, deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.permissionId}, #{entity.description}, #{entity.createTime}, #{entity.updateTime},
            #{entity.deleted})
        </foreach>
        on duplicate key update
        permission_id = values(permission_id
        ),
        description = values(description
        ),
        create_time = values(create_time
        ),
        update_time = values(update_time
        ),
        deleted = values(deleted
        )
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update permission
        <set>
            <if test="permissionId != null and permissionId != ''">
                permission_id = #{permissionId},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from permission
        where id = #{id}
    </delete>

</mapper>

