<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learn.quickweb.mvc.mapper.UserRoleMapper">

    <resultMap type="learn.quickweb.mvc.domain.UserRole" id="UserRoleMap">
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserRoleMap">
        select username,
               role
        from user_role
        where username = #{username}
          and role = #{role}
    </select>

    <!--查询指定行数据-->
    <select id="queryAll" resultMap="UserRoleMap">
        select
        username, role from user_role
        <where>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="role != null and role != ''">
                and role = #{role}
            </if>
        </where>
        <if test="orderByMe != null and orderByMe != '' and orderByMeSort != null and orderByMeSort != ''">
            order by
            <choose>
                <when test="orderByMe == 'username' and orderByMeSort == 'ASC'">
                    username
                </when>
                <when test="orderByMe == 'role' and orderByMeSort == 'ASC'">
                    role
                </when>
                <when test="orderByMe == 'username' and orderByMeSort == 'DESC'">
                    username desc
                </when>
                <when test="orderByMe == 'role' and orderByMeSort == 'DESC'">
                    role desc
                </when>
                <otherwise>
                    1
                </otherwise>
            </choose>
        </if>
    </select>

    <!--模糊查询指定行数据-->
    <select id="queryAllLike" resultMap="UserRoleMap">
        select
        username, role from user_role
        <where>
            <if test="username != null and username != ''">
                and username like concat('%',#{username},'%')
            </if>
            <if test="role != null and role != ''">
                and role like concat('%',#{role},'%')
            </if>
        </where>
        <if test="orderByMe != null and orderByMe != '' and orderByMeSort != null and orderByMeSort != ''">
            order by
            <choose>
                <when test="orderByMe == 'username' and orderByMeSort == 'ASC'">
                    username
                </when>
                <when test="orderByMe == 'role' and orderByMeSort == 'ASC'">
                    role
                </when>
                <when test="orderByMe == 'username' and orderByMeSort == 'DESC'">
                    username desc
                </when>
                <when test="orderByMe == 'role' and orderByMeSort == 'DESC'">
                    role desc
                </when>
                <otherwise>
                    1
                </otherwise>
            </choose>
        </if>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(*)
        from user_role
        <where>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="role != null and role != ''">
                and role = #{role}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="username" useGeneratedKeys="true">
        insert into user_role(username, role)
        values (#{username}, #{role})
    </insert>

    <insert id="insertBatch" keyProperty="username" useGeneratedKeys="true">
        insert into user_role
        (username, role)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.username},#{entity.role}})
        </foreach>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update user_role
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="role != null and role != ''">
                role = #{role},
            </if>
        </set>
        where username = #{username} and role = #{role}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from user_role
        where username = #{username}
          and role = #{role}
    </delete>

</mapper>

